{"openapi":"3.1.1","externalDocs":{"description":"Find out more about Steuerboard API","url":"https://docs.steuerboard.com"},"info":{"version":"0.1.0","title":"Steuerboard API"},"servers":[{"url":"https://api.steuerboard.com"}],"security":[{"bearerAuth":[]}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"API Key","description":"Bearer token authentication"}},"schemas":{"Client":{"type":"object","properties":{"id":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"name":{"type":"string","description":"The name of the client","example":"Muster GmbH"},"slug":{"type":"string","description":"The slug of the client","example":"muster-gmbh"},"type":{"type":"string","enum":["natural_person","individual_enterprise","legal_person"],"description":"The type of the client","example":"natural_person"},"customId":{"type":["string","null"],"description":"The client's custom ID can be set by the accountant","example":"ABC123"},"legalName":{"type":["string","null"],"description":"The legal name of the client","example":"Muster GmbH"},"archivedAt":{"type":["string","null"],"description":"The date and time the client was archived","example":"2021-01-01T00:00:00Z"},"datevClientId":{"type":["string","null"],"description":"The client's ID in DATEV","example":"ABC123"},"createdAt":{"type":"string","description":"The date and time of the creation for the client","example":"2021-01-01T00:00:00Z"},"updatedAt":{"type":"string","description":"The date and time of the last update for the client","example":"2021-01-01T00:00:00Z"}},"required":["id","name","slug","type","customId","legalName","archivedAt","datevClientId","createdAt","updatedAt"]},"Pagination":{"type":"object","properties":{"nextCursor":{"type":"string","description":"The cursor to return the next page of items","example":"cmf41ajzv003706un4i99q19z"},"previousCursor":{"type":"string","description":"The cursor to return the previous page of items","example":"cmf41ajzv003706un4i99q19z"},"limit":{"type":"integer","minimum":0,"description":"The number of items to return","example":20},"total":{"type":"integer","minimum":0,"description":"The total number of items","example":134}},"required":["limit","total"]},"ClientCreate":{"type":"object","properties":{"name":{"type":"string","description":"The name of the client","example":"Muster GmbH"},"type":{"type":"string","enum":["natural_person","individual_enterprise","legal_person"],"description":"The type of the client","example":"legal_person"},"customId":{"type":"string","description":"The client's custom ID can be set by the accountant","example":"ABC123"},"address":{"type":"object","properties":{"line1":{"type":"string","minLength":1},"line2":{"type":"string"},"city":{"type":"string","minLength":1},"postalCode":{"type":"string","minLength":1},"countryCode":{"type":"string","default":"DE"}},"required":["line1","city","postalCode"],"description":"The address of the client","example":{"line1":"Musterstraße 1","line2":"12345 Musterstadt","city":"Musterstadt","postalCode":"12345","countryCode":"DE"}}},"required":["name","type"]},"Workspace":{"type":"object","properties":{"id":{"type":"string","format":"cuid","description":"The ID of the workspace","example":"cmf41ajzv003706un4i99q19z"},"name":{"type":"string","description":"The name of the workspace","example":"FiBu"},"createdAt":{"type":"string","description":"The date and time of the creation for the workspace","example":"2021-01-01T00:00:00Z"},"updatedAt":{"type":"string","description":"The date and time of the last update for the workspace","example":"2021-01-01T00:00:00Z"},"archivedAt":{"type":["string","null"],"description":"The date and time the workspace was archived","example":"2021-01-01T00:00:00Z"},"clientId":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"}},"required":["id","name","createdAt","updatedAt","archivedAt","clientId"]},"File":{"type":"object","properties":{"id":{"type":"string","format":"cuid","description":"The ID of the file","example":"cmf41ajzv003706un4i99q19z"},"documentDate":{"type":["string","null"],"description":"The date of the document (not the upload date)","example":"2021-01-01T00:00:00Z"},"createdAt":{"type":"string","description":"The date and time of the creation for the file","example":"2021-01-01T00:00:00Z"},"updatedAt":{"type":"string","description":"The date and time of the last update for the file","example":"2021-01-01T00:00:00Z"},"name":{"type":"string","description":"The name of the file","example":"document.pdf"},"mimetype":{"type":"string","description":"The mime type of the file","example":"application/pdf"},"size":{"type":"number","description":"The size of the file in bytes","example":1024},"workspaceId":{"type":"string","format":"cuid","description":"The ID of the workspace","example":"cmf41ajzv003706un4i99q19z"},"createdById":{"type":["string","null"],"format":"cuid","description":"The ID of the creator","example":"cmf41ajzv003706un4i99q19z"},"taskId":{"type":["string","null"],"format":"cuid","description":"The ID of the task this file was uploaded to.","example":"cmf41ajzv003706un4i99q19z"},"folderId":{"type":["string","null"],"format":"cuid","description":"The ID of the folder this file was uploaded to.","example":"cmf41ajzv003706un4i99q19z"},"labelIds":{"type":["array","null"],"items":{"type":"string","format":"cuid"},"description":"The IDs of the assigned labels","example":["cmf41ajzv003706un4i99q19z"]}},"required":["id","documentDate","createdAt","updatedAt","name","mimetype","size","workspaceId","createdById","taskId","folderId","labelIds"]},"FileCreate":{"type":"object","properties":{"workspaceId":{"type":"string","format":"cuid","description":"The ID of the workspace","example":"cmf41ajzv003706un4i99q19z"},"file":{"type":"string","description":"The file to upload","format":"binary"},"labelIds":{"type":"array","items":{"type":"string","format":"cuid"},"description":"The IDs of the labels to add to the file","example":["cmf41ajzv003706un4i99q19z"]},"name":{"type":"string","description":"The name of the file","example":"document.pdf"},"folderId":{"type":"string","format":"cuid","description":"The ID of the folder to upload the file to","example":"cmf41ajzv003706un4i99q19z"},"taskId":{"type":"string","format":"cuid","description":"The ID of the task to upload this file to.","example":"cmf41ajzv003706un4i99q19z"}},"required":["workspaceId","file"]},"FileUpdate":{"type":"object","properties":{"name":{"type":"string","description":"The name of the file","example":"document.pdf"},"documentDate":{"type":"string","description":"The date of the document (not the upload date)","example":"2021-01-01T00:00:00Z"},"folderId":{"type":"string","format":"cuid","description":"The ID of the folder to place the file in","example":"cmf41ajzv003706un4i99q19z"}}},"DeleteResponse":{"type":"object","properties":{"object":{"type":"string","description":"The type of the deleted object","example":"file"},"deleted":{"type":"boolean","description":"Whether the object was deleted","example":true},"id":{"type":"string","format":"cuid","description":"The ID of the deleted object","example":"cmf41ajzv003706un4i99q19z"}},"required":["object","deleted","id"]},"Task":{"type":"object","properties":{"id":{"type":"string","format":"cuid","description":"The ID of the task","example":"cmf41ajzv003706un4i99q19z"},"title":{"type":"string","description":"The title of the task","example":"Task 1"},"text":{"type":["string","null"],"description":"The text of the task","example":"Upload the documents"},"status":{"type":"string","enum":["IN_PROGRESS","ACCEPTED","OPEN","IN_REVIEW","DECLINED"],"description":"The status of the task","example":"OPEN"},"dueDate":{"type":["string","null"],"format":"date-time","description":"The due date of a task","example":"2021-01-01T00:00:00Z"},"workspaceId":{"type":"string","format":"cuid","description":"The ID of the workspace","example":"cmf41ajzv003706un4i99q19z"},"createdById":{"type":["string","null"],"format":"cuid","description":"The ID of the creator","example":"cmf41ajzv003706un4i99q19z"},"actorType":{"type":"string","enum":["USER","SYSTEM","AI","API"],"description":"The type of the actor","example":"USER"},"parentId":{"type":["string","null"],"format":"cuid","description":"The ID of the parent task","example":"cmf41ajzv003706un4i99q19z"},"destinationFolderId":{"type":["string","null"],"format":"cuid","description":"The ID of the destination folder where assigned files will be stored","example":"cmf41ajzv003706un4i99q19z"},"createdAt":{"type":"string","format":"date-time","description":"The date and time of the creation for the task","example":"2021-01-01T00:00:00Z"},"updatedAt":{"type":"string","format":"date-time","description":"The date and time of the last update for the task","example":"2021-01-01T00:00:00Z"}},"required":["id","title","text","status","dueDate","workspaceId","createdById","actorType","parentId","destinationFolderId","createdAt","updatedAt"]},"TaskCreate":{"type":"object","properties":{"title":{"type":"string","description":"The title of the task","example":"Task Upload Documents"},"text":{"type":"string","description":"The text of the task","example":"Upload the documents"},"dueDate":{"type":"string","description":"The due date of a task","example":"2021-01-01T00:00:00Z"},"workspaceId":{"type":"string","format":"cuid","description":"The ID of the workspace","example":"cmf41ajzv003706un4i99q19z"}},"required":["title","workspaceId"]},"TaskUpdate":{"type":"object","properties":{"title":{"type":"string","description":"The title of the task","example":"Updated Task Upload Documents"},"text":{"type":"string","description":"The text of the task","example":"Upload the documents"},"dueDate":{"type":["string","null"],"description":"The due date of a task","example":"2021-01-01T00:00:00Z"},"status":{"type":"string","enum":["IN_PROGRESS","ACCEPTED","OPEN","IN_REVIEW","DECLINED"],"description":"The status of the task","example":"OPEN"},"destinationFolderId":{"type":["string","null"],"format":"cuid","description":"The ID of the destination folder","example":"cmf41ajzv003706un4i99q19z"},"assetFileIds":{"type":"array","items":{"type":"string","format":"cuid"},"description":"The IDs of the files that should be attachement of this task. For example to give extra context to the user who works on this task.","example":["cmf41ajzv003706un4i99q19z"]},"parentId":{"type":["string","null"],"format":"cuid","description":"The ID of the parent task","example":"cmf41ajzv003706un4i99q19z"}}}},"parameters":{}},"paths":{"/v1":{"get":{"x-excluded":true,"tags":["Health Check"],"security":[],"summary":"Index","responses":{"200":{"description":"Steuerboard API Index","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"Steuerboard API"}}}}}}}},"/v1/ping":{"get":{"tags":["Health Check"],"summary":"Ping","responses":{"200":{"description":"Pong","content":{"application/json":{"schema":{"type":"object","properties":{"ping":{"type":"string"}},"required":["ping"]}}}}}}},"/v1/me":{"get":{"tags":["Auth"],"summary":"Me","responses":{"200":{"description":"Me","content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string"},"accountantId":{"type":"string"},"clientId":{"type":"string"},"apiKeyId":{"type":"string"},"rateLimitMax":{"type":"number"},"rateLimitTimeWindow":{"type":"number"}},"required":["type","accountantId","apiKeyId","rateLimitMax","rateLimitTimeWindow"]}}}}}}},"/v1/admin/clients":{"get":{"operationId":"listClients","summary":"List clients","description":"Returns a list of clients.","x-mint":{"content":"<Warning>This endpoint only works with the **Accountant API key**. More information [here](/api-keys)</Warning>"},"tags":["Admin.Clients"],"parameters":[{"schema":{"type":"number","minimum":1,"maximum":100,"default":20,"description":"The number of items to return","example":20},"required":false,"in":"query","name":"limit"},{"schema":{"type":"string","format":"cuid","description":"The cursor to return the next page of items","example":"cmf41ajzv003706un4i99q19z"},"required":false,"in":"query","name":"cursor"},{"schema":{"type":"string","description":"The custom ID of the client","example":"455148"},"required":false,"name":"customId","in":"query"},{"schema":{"type":"string","description":"The slug of the client","example":"muster-gmbh"},"required":false,"name":"slug","in":"query"},{"schema":{"type":"string","enum":["true","false"],"default":"false","description":"Include archived clients","example":"false"},"required":false,"name":"archived","in":"query"},{"schema":{"type":"string","enum":["natural_person","individual_enterprise","legal_person"],"description":"The type of the client","example":"legal_person"},"required":false,"name":"type","in":"query"},{"schema":{"type":"string","enum":["createdAt","updatedAt","archivedAt","name","customId"],"default":"createdAt","description":"The sort field of the results","example":"createdAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","description":"The order of the results based on the sort field","example":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Clients","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Client"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["fieldName"],"message":"Expected string, received undefined"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}},"post":{"operationId":"createClient","summary":"Create a client","description":"Creates a new client for the accountant and returns the created client object.","x-mint":{"content":"<Warning>This endpoint only works with the **Accountant API key**. More information [here](/api-keys)</Warning>"},"tags":["Admin.Clients"],"requestBody":{"description":"Client create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientCreate"}}}},"responses":{"201":{"description":"Client created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["name"],"message":"Required"},{"code":"invalid_type","path":["type"],"message":"Required"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}}},"/v1/admin/clients/{id}":{"get":{"operationId":"getClient","summary":"Get a client","description":"Returns a single client object by ID.","x-mint":{"content":"<Warning>This endpoint only works with the **Accountant API key**. More information [here](/api-keys)</Warning>"},"tags":["Admin.Clients"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the item","example":"cmf41ajzv003706un4i99q19z"},"required":true,"in":"path","name":"id"}],"responses":{"200":{"description":"Client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}}},"404":{"description":"Client not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"Not Found"}}}}},"422":{"description":"Invalid id error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["id"],"message":"Required"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}}},"/v1/workspaces":{"get":{"operationId":"listWorkspaces","summary":"List workspaces","description":"Returns a paginated list of workspaces.","tags":["Workspaces"],"parameters":[{"schema":{"type":"number","minimum":1,"maximum":100,"default":20,"description":"The number of items to return","example":20},"required":false,"in":"query","name":"limit"},{"schema":{"type":"string","format":"cuid","description":"The cursor to return the next page of items","example":"cmf41ajzv003706un4i99q19z"},"required":false,"in":"query","name":"cursor"},{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":true,"name":"x-client-id","in":"header"}],"responses":{"200":{"description":"Workspaces","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Workspace"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["fieldName"],"message":"Expected string, received undefined"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}}},"/v1/workspaces/{id}":{"get":{"operationId":"getWorkspace","summary":"Get a workspace","description":"Returns a single workspace object by ID.","tags":["Workspaces"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the item","example":"cmf41ajzv003706un4i99q19z"},"required":true,"in":"path","name":"id"},{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":true,"name":"x-client-id","in":"header"}],"responses":{"200":{"description":"Workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"404":{"description":"Workspace not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"Not Found"}}}}},"422":{"description":"Invalid id error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["id"],"message":"Required"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}}},"/v1/files":{"get":{"operationId":"listFiles","summary":"List files","description":"Returns a paginated list of files. Optionally you can filter by workspace.","tags":["Files"],"parameters":[{"schema":{"type":"number","minimum":1,"maximum":100,"default":20,"description":"The number of items to return","example":20},"required":false,"in":"query","name":"limit"},{"schema":{"type":"string","format":"cuid","description":"The cursor to return the next page of items","example":"cmf41ajzv003706un4i99q19z"},"required":false,"in":"query","name":"cursor"},{"schema":{"type":"string","format":"cuid"},"required":false,"name":"workspaceId","in":"query"},{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":true,"name":"x-client-id","in":"header"}],"responses":{"200":{"description":"Paginated files","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/File"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["fieldName"],"message":"Expected string, received undefined"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}},"post":{"operationId":"createFile","summary":"Upload a file","description":"Uploads a new file. Maximum file size is 500MB.","tags":["Files"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":true,"name":"x-client-id","in":"header"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FileCreate"}}}},"responses":{"201":{"description":"File created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"File size exceeds the maximum allowed limit of 500MB"}}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["workspaceId"],"message":"Required"},{"code":"custom","path":["file"],"message":"Input not instance of File"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}}},"/v1/files/{id}":{"get":{"operationId":"getFile","summary":"Get a file","description":"Returns a single file object by ID.","tags":["Files"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the item","example":"cmf41ajzv003706un4i99q19z"},"required":true,"in":"path","name":"id"},{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":true,"name":"x-client-id","in":"header"}],"responses":{"200":{"description":"File","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}},"404":{"description":"File not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"File not found"}}}}},"422":{"description":"Invalid id error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["id"],"message":"Required"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}},"patch":{"operationId":"updateFile","summary":"Update a file","description":"Updates a file object.","tags":["Files"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the item","example":"cmf41ajzv003706un4i99q19z"},"required":true,"in":"path","name":"id"},{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":true,"name":"x-client-id","in":"header"}],"requestBody":{"description":"File update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUpdate"}}}},"responses":{"200":{"description":"File updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}},"404":{"description":"File not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"File not found"}}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["id"],"message":"Required"}]}}},"required":["success","error"]},{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["fieldName"],"message":"Expected string, received undefined"}]}}},"required":["success","error"]}]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}},"delete":{"operationId":"deleteFile","summary":"Delete a file","description":"Deletes a file by ID.","tags":["Files"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the item","example":"cmf41ajzv003706un4i99q19z"},"required":true,"in":"path","name":"id"},{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":true,"name":"x-client-id","in":"header"}],"responses":{"200":{"description":"File deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteResponse"}}}},"404":{"description":"File not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"Not Found"}}}}},"422":{"description":"Invalid id error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["id"],"message":"Required"}]}}},"required":["success","error"]}}}},"429":{"description":"Rate limit exceeded. Slow down requests or retry after the time specified in the rate limit response headers","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}}}}}},"/v1/tasks":{"get":{"operationId":"listTasks","summary":"List tasks","description":"Returns a paginated list of tasks. Optionally you can filter by client or workspace.","tags":["Tasks"],"parameters":[{"schema":{"type":"number","minimum":1,"maximum":100,"default":20,"description":"The number of items to return","example":20},"required":false,"in":"query","name":"limit"},{"schema":{"type":"string","format":"cuid","description":"The cursor to return the next page of items","example":"cmf41ajzv003706un4i99q19z"},"required":false,"in":"query","name":"cursor"},{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":false,"name":"clientId","in":"query"},{"schema":{"type":"string","format":"cuid","description":"The ID of the workspace","example":"cmf41ajzv003706un4i99q19z"},"required":false,"name":"workspaceId","in":"query"}],"responses":{"200":{"description":"Tasks","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Task"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["fieldName"],"message":"Expected string, received undefined"}]}}},"required":["success","error"]}}}}}},"post":{"operationId":"createTask","summary":"Create a task","description":"Creates a new task and returns the created task object.","tags":["Tasks"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the client","example":"cmf41ajzv003706un4i99q19z"},"required":true,"name":"x-client-id","in":"header"}],"requestBody":{"description":"Task create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCreate"}}}},"responses":{"201":{"description":"Task created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["title"],"message":"Required"},{"code":"invalid_type","path":["workspaceId"],"message":"Required"}]}}},"required":["success","error"]}}}}}}},"/v1/tasks/{id}":{"get":{"operationId":"getTask","summary":"Get a task","description":"Returns a single task object by ID.","tags":["Tasks"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the item","example":"cmf41ajzv003706un4i99q19z"},"required":true,"in":"path","name":"id"}],"responses":{"200":{"description":"Task","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"404":{"description":"Task not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"Not Found"}}}}},"422":{"description":"Invalid id error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["id"],"message":"Required"}]}}},"required":["success","error"]}}}}}},"patch":{"operationId":"updateTask","summary":"Update a task","description":"Updates an existing task object.","tags":["Tasks"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the item","example":"cmf41ajzv003706un4i99q19z"},"required":true,"in":"path","name":"id"}],"requestBody":{"description":"Task update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskUpdate"}}}},"responses":{"200":{"description":"Task updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"404":{"description":"Task not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"Not Found"}}}}},"422":{"description":"The validation error(s)","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["fieldName"],"message":"Expected string, received undefined"}]}}},"required":["success","error"]},{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["id"],"message":"Required"}]}}},"required":["success","error"]}]}}}}}},"delete":{"operationId":"deleteTask","summary":"Delete a task","description":"Deletes a task by ID.","tags":["Tasks"],"parameters":[{"schema":{"type":"string","format":"cuid","description":"The ID of the item","example":"cmf41ajzv003706un4i99q19z"},"required":true,"in":"path","name":"id"}],"responses":{"200":{"description":"Task","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"404":{"description":"Task not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"example":{"message":"Task not found"}}}}},"422":{"description":"Invalid id error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"path":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}},"message":{"type":"string"}},"required":["code","path"]}},"name":{"type":"string"}},"required":["issues","name"],"example":{"name":"ValidationError","issues":[{"code":"invalid_type","path":["id"],"message":"Required"}]}}},"required":["success","error"]}}}}}}}},"webhooks":{"webhooks/fileChanges":{"post":{"summary":"File changes","tags":["Webhooks"],"requestBody":{"description":"File Webhook (create|update)","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["FILE"]},"data":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"documentDate":{"type":["string","null"]},"mimetype":{"type":"string"},"size":{"type":"number"},"folderId":{"type":["string","null"]},"labelIds":{"type":["array","null"],"items":{"type":"string"}}},"required":["id","createdAt","updatedAt","name","documentDate","mimetype","size","folderId","labelIds"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data"]},{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["FILE"]},"data":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"documentDate":{"type":["string","null"]},"mimetype":{"type":"string"},"size":{"type":"number"},"folderId":{"type":["string","null"]},"labelIds":{"type":["array","null"],"items":{"type":"string"}}},"required":["id","createdAt","updatedAt","name","documentDate","mimetype","size","folderId","labelIds"]},"previousData":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"documentDate":{"type":["string","null"]},"mimetype":{"type":"string"},"size":{"type":"number"},"folderId":{"type":["string","null"]},"labelIds":{"type":["array","null"],"items":{"type":"string"}}},"required":["id","createdAt","updatedAt","name","documentDate","mimetype","size","folderId","labelIds"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data","previousData"]}]}}}},"responses":{"200":{"description":"Webhook received"}}}},"webhooks/fileCommentCreated":{"post":{"summary":"File comment created","tags":["Webhooks"],"requestBody":{"description":"Webhook","content":{"application/json":{"schema":{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["FILE_COMMENT"]},"data":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"createdById":{"type":"string"},"fileId":{"type":"string"}},"required":["id","text","createdAt","updatedAt","createdById","fileId"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data"]}}}},"responses":{"200":{"description":"Webhook received"}}}},"webhooks/taskChanges":{"post":{"summary":"Task changes","tags":["Webhooks"],"requestBody":{"description":"Task Webhook (create|update)","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["TASK"]},"data":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"title":{"type":"string"},"text":{"type":["string","null"]},"status":{"type":"string"},"dueDate":{"type":["string","null"]},"destinationFolderId":{"type":["string","null"]},"assetFileIds":{"type":"array","items":{"type":"string"}},"labelIds":{"type":["array","null"],"items":{"type":"string"}},"workspaceId":{"type":"string"}},"required":["id","createdAt","updatedAt","title","text","status","dueDate","destinationFolderId","assetFileIds","labelIds","workspaceId"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data"]},{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["TASK"]},"data":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"title":{"type":"string"},"text":{"type":["string","null"]},"status":{"type":"string"},"dueDate":{"type":["string","null"]},"destinationFolderId":{"type":["string","null"]},"assetFileIds":{"type":"array","items":{"type":"string"}},"labelIds":{"type":["array","null"],"items":{"type":"string"}},"workspaceId":{"type":"string"}},"required":["id","createdAt","updatedAt","title","text","status","dueDate","destinationFolderId","assetFileIds","labelIds","workspaceId"]},"previousData":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"title":{"type":"string"},"text":{"type":["string","null"]},"status":{"type":"string"},"dueDate":{"type":["string","null"]},"destinationFolderId":{"type":["string","null"]},"assetFileIds":{"type":"array","items":{"type":"string"}},"labelIds":{"type":["array","null"],"items":{"type":"string"}},"workspaceId":{"type":"string"}},"required":["id","createdAt","updatedAt","title","text","status","dueDate","destinationFolderId","assetFileIds","labelIds","workspaceId"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data","previousData"]}]}}}},"responses":{"200":{"description":"Webhook received"}}}},"webhooks/taskCommentCreated":{"post":{"summary":"Task comment created","tags":["Webhooks"],"requestBody":{"description":"Webhook","content":{"application/json":{"schema":{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["TASK_COMMENT"]},"data":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"createdById":{"type":"string"},"taskId":{"type":"string"}},"required":["id","text","createdAt","updatedAt","createdById","taskId"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data"]}}}},"responses":{"200":{"description":"Webhook received"}}}},"webhooks/clientChanges":{"post":{"summary":"Client changes","tags":["Webhooks"],"requestBody":{"description":"Client Webhook (create|update)","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["CLIENT"]},"data":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"type":{"type":"string","enum":["natural_person","individual_enterprise","legal_person"]},"customId":{"type":["string","null"]},"legalName":{"type":["string","null"]},"archivedAt":{"type":["string","null"]},"datevClientId":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","slug","type","customId","legalName","archivedAt","datevClientId","createdAt","updatedAt"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data"]},{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["CLIENT"]},"data":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"type":{"type":"string","enum":["natural_person","individual_enterprise","legal_person"]},"customId":{"type":["string","null"]},"legalName":{"type":["string","null"]},"archivedAt":{"type":["string","null"]},"datevClientId":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","slug","type","customId","legalName","archivedAt","datevClientId","createdAt","updatedAt"]},"previousData":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"type":{"type":"string","enum":["natural_person","individual_enterprise","legal_person"]},"customId":{"type":["string","null"]},"legalName":{"type":["string","null"]},"archivedAt":{"type":["string","null"]},"datevClientId":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","slug","type","customId","legalName","archivedAt","datevClientId","createdAt","updatedAt"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data","previousData"]}]}}}},"responses":{"200":{"description":"Webhook received"}}}},"webhooks/workspaceChanges":{"post":{"summary":"Workspace changes","tags":["Webhooks"],"requestBody":{"description":"Workspace Webhook (create|update)","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["WORKSPACE"]},"data":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"archivedAt":{"type":["string","null"]},"clientId":{"type":"string"}},"required":["id","name","createdAt","updatedAt","archivedAt","clientId"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data"]},{"type":"object","properties":{"eventTimestamp":{"type":"string","description":"Timestamp of when the event happened"},"action":{"type":"string","enum":["CREATED","UPDATED","DELETED","ARCHIVED"]},"clientId":{"type":"string"},"workspaceId":{"type":["string","null"]},"resource":{"type":"string","enum":["WORKSPACE"]},"data":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"archivedAt":{"type":["string","null"]},"clientId":{"type":"string"}},"required":["id","name","createdAt","updatedAt","archivedAt","clientId"]},"previousData":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"archivedAt":{"type":["string","null"]},"clientId":{"type":"string"}},"required":["id","name","createdAt","updatedAt","archivedAt","clientId"]}},"required":["eventTimestamp","action","clientId","workspaceId","resource","data","previousData"]}]}}}},"responses":{"200":{"description":"Webhook received"}}}}}}